.sign-user-container {
    width: 25%;
    margin: 40px auto;
    border-radius: 3px;
    padding: 5px 20px;
    box-shadow: 3px 3px 3px 3px rgb(202, 202, 202);
}

@media screen and (max-width: 850px) {
    .sign-user-container {
        width: 35%;
    }
  }
  @media screen and (max-width: 600px) {
    .sign-user-container {
        width: 45%;
    }
  }
  @media screen and (max-width: 720px) {
    .sign-user-container {
        width: 55%;
    }
  }
@media screen and (max-width: 480px) {
    .sign-user-container {
        width: 65%;
    }
  }