.profile-bg {
  height: 40%;
  width: 100vw;
  object-fit: cover;
}

.profile-container {
  display: flex;
  height: 80%;
  gap: 20px;
}

.profile-photo-container {
  width: 20%;
  padding: 20px 20px 20px 40px;
  border-right: 1px solid rgb(200, 200, 200);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}

.img-container {
  height: 15vw;
  width: 15vw;
  border-radius: 150px;
  border: 1px solid rgb(215, 215, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 1px 1px 1px 0px grey; */

  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: 0.5s ease-in-out; */
}

/* ImageUploadWrapper.css */

.image-upload-container {
  text-align: center;
  margin: 20px;
}

.upload-text {
  font-size: 16px;
  color: #555;
  text-align: center;
}

.img-container:hover {
  opacity: 0.8;
  outline-offset: 2px;
  border: 0;
  outline: 3px solid #1677ff;
  transition: 0.4s ease;
}

.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.name {
    font-size: 20px;
}



@media screen and (max-width: 450px) {

  .img-container {
    height: 75vw;
    width: 75vw;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .profile-photo-container {
    width: 100%;
    padding: 20px 20px 0px 20px;
    height: fit-content;
  }

  .details {
    width: 70%;
    padding: 20px 20px 0px 20px;
  }

  .profile-details {
    width: 70%;
    padding: 0;
  }
}