.product-container {
    height: 45%;
    width: 15%;
    box-shadow: 1px 1px 5px 0px #bfbfbf;
    border-radius: 5px;
}

.product-image-container {
height: 60%;
width: 100%;
display: flex;
justify-content: center;
/* padding: 10px 0px; */
}

.product-image {
height: 100%;
width: inherit;
object-fit: contain;
border-bottom: 1px solid #e6e6e6;
/* box-shadow: 1px 1px 3px 0px grey; */
}

.product-details-section {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
}

.product-description {
    font-size: 14px;
    color: grey;
    letter-spacing: 0.8px;
    /* font-weight: 600; */
}