.product-container {
    height: 45%;
    width: 15%;
    box-shadow: 1px 1px 5px 0px #bfbfbf;
    border-radius: 5px;
}

.product-image-container {
height: 60%;
width: 100%;
display: flex;
justify-content: center;
/* padding: 10px 0px; */
}

.product-image {
height: 100%;
width: inherit;
object-fit: contain;
}