.icon-container {
  transition: 0.4s;
  padding: 15px;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  /* color: white;  */
  cursor: pointer;

  background-color: white;
  border: 3px solid darkred;
  color: black;
}

.st-icon {
  transform: scale(1.5);
  /* transition: 1s; */
}

.control-bar {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  bottom: 0;
  position: fixed ;
  background-color: #121013;
}

.img-icon {
  width: 100%;
  transform: scale(1.1);
}
