.card-container {
  height: 40%;
  width: 230px;
  box-shadow: 1px 1px 3px 0px #bbbbbb;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.room-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.room-img {
  height: 150px;
  transform: scale(1.2, 1);
}

.room-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 100%; */
  padding: 10px;
}

.join-btn-ctnr {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.btn-section:hover {
color: #1976d2;
transform: scale(1.05);
}

.btn-section {
  transition: 0.3s;
  border: 0;
            font-size: 18;
            color: #1677ff;
}

.btn-section:disabled {
  background-color: #83b7ff;
  cursor: not-allowed;
}

.class-name {
  font-size: 18px;
  font-weight: 500;
}

.time-section {
  display: flex;
  gap: 10px;
  /* justify-content: space-around; */
}
