.peer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(27, 26, 30);
    padding: 30px;
    border-radius: 15px;
    color: white;
    width: 150px;
    height: 150px;
    justify-content: center;
}

.teacher-peer {
    border: 3px solid lightskyblue;
    height: 70%;
    width: 80%;
}

.no-padding {
    padding: 0px;
}

.peer-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.peer-video-container {
    height: 100%;
    width: 100%;
}

.no-video {
    height: 20%;
    width: 20%;
}

.peer-avatar-container {
    padding: 30px;
}

.teacher-peer-avatar-container {
    padding: 150px 30px;
}

.teacher-peer-name {
    position: absolute;
    margin-top: 150px;
}

@media screen and (max-width: 768px) {
    .peer-container {
        width: 120px;
        height: 120px;
    }
    
    .teacher-peer  {
     width: 80%;
     height: 80%;
    }
    

  }