@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Sofia+Sans+Semi+Condensed&display=swap');
.App {
  height: 100vh;
  width: 100%;
}

.complete-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.vertical-center {
  display: flex;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  align-items: center !important;
}

.cursor-pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.disabled1 {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none;
}

.raise {
  color: rgb(255, 212, 148);
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.negative-top-margin {
  margin-top: -15px;
}